.character-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 20px;
  padding: 20px;
  margin: 10px;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  position: relative;
}

.character-name {
  font-size: 27px;
  color: rgb(43, 128, 197);
  font-family: Trebuchet MS, sans-serif;
}


.character-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.character-height {
  font-size: 16px;
  color: #666;
}

.close-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #FF5733;
}

.close-button:hover {
  color: #FF0000;
}

.film-list {
  margin-top: 10px;
}

.films-label {
  font-weight: bold;
  color: #444;
}

.film-item {
  margin-top: 5px;
  color: #777;
}

.film-item:before {
  margin-right: 5px;
}
