body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  background: linear-gradient(to bottom right,#FDABDD, #374A5A);
  background-size: cover;
  background-attachment: fixed;
  font-family: Arial, sans-serif;
  color: #fff;
}


